<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You must have really pissed off a mod, <%= @user.full_name %></h1>
    <p>
      Your entire account, as well as your reviews have been purged from existance.
    </p>
    <p>
      Don't show your face around here again. 
    </p>
  </body>
</html>