// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.test-class {
  font-size: 33px;
}

.image-spacer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-spacer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.feature-ima {
  height: 100px;
}

.img-border {
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}