<h1 class="title">Create New User</h1>

<div class="columns">
  <div class="column is-one-half">
<%= form_for @user, url: admin_users_path, html: { method: :post} do |f| %>

<%= render 'form', f: f %>

<% end %>
  </div>
  <div class="column">
    <div class="box">
      <figure class="image is-square">
        <img src="https://secure.static.tumblr.com/b038aa754444b6286dc3d8bcca8582d0/nnhoowg/kqtn30fdt/tumblr_static_wf3.jpg9b7379fb-a65b-49d1-85b0-a42dfdcd7a4alarge.jpg">
      </figure>
    </div>
  </div>
</div>